#add {
    text-align: center;
}

#productNameInput {
    width: 180px;
}

#productPriceInput {
    width: 70px;
}

#productNameInput, #productPriceInput, #productAvailabilityInput {
    padding: 4px;
    border-color: rgb(100, 189, 255);
    color: rgb(50, 139, 205);
}

#productNameInput::placeholder, #productPriceInput::placeholder, #productAvailabilityInput::placeholder {
    color: rgb(150, 189, 195);
}

#addProduct {
    position: relative;
    top: 8px;
    margin-left: 4px;
}

#addProduct:hover {
    cursor: pointer;
}

#productDiscountDiv {
    display:inline-block;
    padding-right: 6px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 3.5px;
    width: 117px;
    font: 400 13.3333px Arial;
    background-color: white;
    border-top: 2px solid rgb(67, 127, 171);
    border-left: 2px solid rgb(67, 127, 171);
    position: relative;
    top: 1px;
}

#productDiscountDiv {
    color: rgb(50, 139, 205);
}

#productDiscountDiv input {
    position: relative;
    top: 2px;
}
