#productNameInput, #productPriceInput, #productAvailabilityInput {
    padding: 4px;
    border-color: rgb(100, 189, 255);
    color: rgb(50, 139, 205);
}

#productNameInput::placeholder, #productPriceInput::placeholder, #productAvailabilityInput::placeholder {
    color: rgb(150, 189, 195);
}

#addProduct {
    position: relative;
    top: 8px;
}

#addProduct:hover {
    cursor: pointer;
}